* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-poppins);
  text-decoration: none;
  list-style: none;
}

:root {
  /* fonts */
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-lg: 18px;
  --font-size-29xl: 48px;
  --font-size-sm: 14px;

  /* Colors */
  --color-whitesmoke: #f1f1f1;
  --color-royalblue: #0075ff;
  --color-gray-100: #212427;
  --color-white: #fff;
  --color-light-gray: #5a5a5a;

  /* Paddings */
  --padding-3xs: 10px;

  /* border radiuses */
  --br-15xl-5: 34.5px;
  --br-8xs: 5px;
}
